.userPhoto{
 width: 100px;
 height: 100px;
 border-radius: 10px;
}

.userItem{
 display: grid;
 grid-template-columns: 1fr 5fr 5fr;
 text-align: left;
 border: 2px solid rgba(18,18,36,0.25);
 border-radius: 20px;
 margin: 5px;
 padding: 10px;
 background-color: rgba(44,28,74,0.25);

}

.userButton{
 text-align: center;
}

.selectedPage{
 color: red;
}