
.nav{
  grid-area: n;
  background-color: #b4b4b7;
  opacity: 50%;
}

.item{
  text-align: center;
  padding: 5px;
}

.item a{
  text-decoration: none;
  color: brown;
}

.item a.active{
  color: white;
}






